.result-container {
    border: 1px black solid;
    margin: 3px;
    border-bottom: 0px;
}
.result {
    border-bottom: 1px black solid;
    padding: 4px;
}

input {
    padding: 4px;
}

input[type=text] {
    width: 70%;
    margin: 10px;
}

input[type=submit] {
    background-color: green;
    font-size: 20sp;
    color: white;
}